src/com/company/files/input/xml/goods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="goods" type="goodsType"/>
  <xs:complexType name="goodType">
    <xs:sequence>

      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="goodsType">
    <xs:sequence>

      <xs:element type="goodType" name="good" maxOccurs="unbounded" minOccurs="0"/>

    </xs:sequence>
  </xs:complexType>
</xs:schema>