src/com/company/Files/Input/XML/sales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sales" type="salesType"/>
  <xs:complexType name="entryType">
    <xs:sequence>

      <xs:element name="id" type="xs:int"/>
      <xs:element name="seller_id" type="xs:int"/>
      <xs:element name="good_id" type="xs:int"/>
      <xs:element name="amount" type="xs:int"/>
      <xs:element name="date" type="xs:date"/>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salesType">
    <xs:sequence>

      <xs:element type="entryType" name="sale" maxOccurs="unbounded" minOccurs="0"/>

    </xs:sequence>
  </xs:complexType>
</xs:schema>