src/com/company/files/input/xml/sellers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sellers" type="sellersType"/>
  <xs:complexType name="sellerType">
    <xs:sequence>

      <xs:element name="id" type="xs:int"/>
      <xs:element name="first_name" type="xs:string"/>
      <xs:element name="last_name" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sellersType">
    <xs:sequence>

      <xs:element type="sellerType" name="seller" maxOccurs="unbounded" minOccurs="0"/>

    </xs:sequence>
  </xs:complexType>
</xs:schema>